<!DOCTYPE html>
<html>
<head>

    <title>Signup</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="auth-box">

<h2>Create Account</h2>

<form method="POST">

<input
type="text"
name="name"
placeholder="Full Name"
required>

<input
type="email"
name="email"
placeholder="Email"
required>

<input
type="password"
name="password"
placeholder="Password"
required>

<button type="submit">

Sign Up

</button>

</form>

<br>

Already have an account?

<a href="/login">Login</a>

</div>


<!-- Footer -->
<footer class="footer">

    <div class="footer-container">

        <div class="footer-left">

            <h2>AI Study Planner</h2>

            <p>
                Organize your learning, track your progress,
                and let AI create personalized study plans.
            </p>

        </div>

        <div class="footer-links">

            <h3>Quick Links</h3>

            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/study_planner">Study Planner</a>

        </div>

        <!-- <div class="footer-contact">

            <h3>Developer</h3>

           <p>Jigyasa Verma</p>

            <p>AI & ML Developer</p> 

            <p>Email: your_email@example.com</p> 

        </div> -->

    </div>

    <hr>

    <p class="copyright">
        © 2026 AI Study Planner | Designed & Developed by
        <strong>Jigyasa</strong>
    </p>

</footer>

</body>
</html>